<div class="container">
  <h1>Write a Note!</h1>
</div>

<form action = "/notes" method="post">
Title<BR><input type = 'text' name= 'title' >
<BR>
  <BR>
content<BR><input type = 'text' name= 'content'>
<BR>
<input type = 'submit'>
</form>